$black-color: black;
$light-violet-color: #7D98E2;
$lighter-violet-color: #97ABDF;
$blind-violet-color: rgba(151, 171, 223, 0.25);
$auth-title-color: #101828;
$auth-text-color: #475467;
$data-auth-color:#344054;
$inner-input-auth-color:#667085;
$input-border-color:#D0D5DD;
$light-grey-color:#D9D9D9;
